<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Java Store</title>
    <link href="../dist/styles.css" rel="stylesheet" />
  </head>
  <body>
    <header class="bg-blue-600 text-white p-6">
      <h1 class="text-4xl font-bold">Welcome to Our Java Store</h1>
      <p class="mt-2">Your one-stop shop for all things Java!</p>
    </header>
    <main class="container mx-auto my-8">
      <section class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-3xl font-semibold">Featured Products</h2>
        <div class="mt-6">
          <form
            method="POST"
            class="space-y-4"
            enctype="multipart/form-data"
            th:object="${productDto}"
            action="/products/create"
          >
            <!-- Name Field -->
            <div>
              <label for="name" class="block font-medium text-gray-700"
                >ID</label
              >
              <input
                type="text"
                class="block w-full rounded-lg border shadow-sm py-2 px-4 outline-none text-center"
                placeholder="Name of item"
                required
                th:value="${product.id}"
                readonly
              />
            </div>

            <!-- Brand Field -->
            <div class="mt-2">
              <label for="brand" class="block font-medium text-gray-700"
                >Brand</label
              >
              <input
                type="text"
                class="block w-full rounded-lg border shadow-sm py-2 px-4 outline-none text-center"
                placeholder="Brand name"
                required
                th:value="${product.brand}"
              />
            </div>

            <!-- Price Field -->
            <div class="mt-2">
              <label for="price" class="block font-medium text-gray-700"
                >Price</label
              >
              <input
                type="number"
                class="block w-full rounded-lg border shadow-sm py-2 px-4 outline-none text-center"
                placeholder="Price"
                required
                th:value="${product.price}"
              />
            </div>

            <div class="mt-2">
              <label for="category" class="block font-medium text-gray-700"
                >Category</label
              >
              <select
                th:value="${product.category}"
                class="block w-full rounded-lg border shadow-sm py-2 px-4 outline-none"
              >
                <option value="">Select a category</option>
                <option value="Computers">Computers</option>
                <option value="Phone">Phone</option>
                <option value="Tablet">Tablet</option>
                <option value="Laptops">Laptops</option>
              </select>
            </div>

            <div class="mt-2">
              <label for="Description" class="block font-medium text-gray-700"
                >Description</label
              >
              <input
                type="text"
                class="block w-full rounded-lg border shadow-sm py-1 px-4 outline-none text-center"
                placeholder="Description"
                required
                th:value="${product.brand}"
              />
            </div>

            <div class="mt-2">
              <label for="image" class="block font-medium text-gray-700"
                >Image</label
              >
              <img
                th:src="@{'/images/'+ ${product.imageFileName}}"
                type="file"
                class="block w-full rounded-lg border shadow-sm py-2 px-4 outline-none text-center"
                required
              />
            </div>

            <!-- Image Field -->
            <div class="mt-2">
              <label for="image" class="block font-medium text-gray-700"
                >Image</label
              >
              <input
                type="file"
                class="block w-full rounded-lg border shadow-sm py-2 px-4 outline-none text-center"
                required
              />
            </div>

            <div class="flex gap-4">
              <button
                type="submit"
                class="mt-4 p-3 bg-blue-600 text-white rounded-md hover:bg-blue-700"
              >
                Submit
              </button>
              <a
                href="/products"
                class="mt-4 p-3 bg-blue-600 text-white rounded-md hover:bg-blue-700"
                role="button"
              >
                Cancel
              </a>
            </div>
          </form>
        </div>
      </section>
    </main>
    <footer class="bg-gray-800 text-white text-center p-4">
      <p>&copy; 2023 Java Store. All rights reserved.</p>
    </footer>
  </body>
</html>
